/*
:root {
  --menu-color-back: #E4EDF6;
  --color-light: #F3F7FC;
}

.k-block-container:not(:last-of-type) {
  border-bottom-color: #666666;
  border-bottom-style: dotted;
}

.k-block-container[data-selected=true] {
  border-bottom-color: #00000000;
}
*/
