<div class="space-y-12">
    {% for layout in field.toLayouts %}
        {% set class = layout.attrs.class ?? '' %}

        {# Grid layout for wider screens #}
        <section class="grid grid-cols-1 gap-12 lg:grid-cols-12 {{ class }}">

            {% for column in layout.columns %}

                <div class="lg:col-span-{{ column.span }} prose prose-lg max-w-none">

                    {% for block in column.blocks %}

                        {% include "_blocks/#{block.type|kebab}.twig" with {
                            blocks: column.blocks,
                            block,
                            layout: true,
                            span: column.span
                        } only %}

                    {% endfor %}

                </div>

            {% endfor %}

        </section>
    {% endfor %}
</div>

