{# Show a simple list of pages #}

{# @param pages [Page] #}
{# @param heading ?string #}

<section class="mt-8 prose prose-slate">

    {% if pages %}

        {% if heading is defined %}
            <h2>{{ heading }}</h2>
        {% endif %}

        <ul>
            {% for page in pages %}
                <li>
                    {{ page.link }}
                </li>
            {% endfor %}
        </ul>

    {% endif %}

</section>