{# The cards layout as used in post index #}

{# @param pages [Page] #}


{% if pages.isNotEmpty %}

    {# Use embed for consistent grid layout #}
    {% embed '_layouts/partials/cards.twig' %}
        {% block content %}
            {% for page in pages %}

                {# Use embed for consistent card layout #}
                {% embed '_layouts/partials/card.twig' with {
                    image: page.featuredImage.toFile() ?? site.featuredImage.toFile(),
                    url: page.url,
                    page
                } %}
                    {% block content %}
                        <div class="font-semibold text-lg">{{ page.title }}</div>
                        {% set block = page.bodyContent.toBlocks|filter(b => b.type == 'text')|first %}
                        {% if not block %}
                            {% set block = page.bodyContent.toBlocks|filter(b => b.type == 'list')|first %}
                        {% endif %}
                        {% if block %}
                            <div class="mt-2 text-sm">

                                {#The truncated first text block.
                                Avoid showing markdown stuff or invalid html tags.#}

                                {{ block.text.kt()|striptags|truncate(120) }}
                            </div>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        {% endblock %}
    {% endembed %}


    {# Show pagination nav. #}
    {% include '_layouts/partials/pagination.twig' %}

{% else %}
    <div>
        {{ 'Nothing found.'|t }}
    </div>
{% endif %}