{# Show current topic in its position in the hierarchy #}

{# @param page page #}

<div class="flex items-center space-x-4 rtl:space-x-reverse">

    {% set parent = page.parent %}
    
    {% set children = collect(page.children) %}

    {% if parent.template == 'topic' or children.count %}
        {% if parent.template == 'topic' %}

            {# Show a button linking to parent #}
            {% include '_partials/pages-buttons.twig' with {
                linkedPage: parent
            } only %}
            <div>
                &gt;
            </div>
        {% endif %}

        {# the current page #}
        <div class="font-semibold text-xl">
            {{ page.title }}
        </div>

        {% if children.count %}
            {# Show buttons linking to children #}
            {# TODO: check responsive layout?? #}
            <div>
                &gt;
            </div>
            {% include '_partials/pages-buttons.twig' with {
                linkedPages: children
            } only %}
        {% endif %}
    {% endif %}
</div>