<hr class="mt-16 w-12 border-2 border-black">
<footer class="pb-8 pt-4 leading-6">
    <div class="grid gap-8 lg:grid-cols-3">
        <div class="lg:col-span-2">
            <h2 class="mb-4 font-bold"><a href="https://getkirby.com">Made with Kirby</a></h2>
            <p class="w-1/2 text-gray-500 lg:w-48">
                Kirby: the file-based CMS that adapts to any project, loved by developers and editors alike
            </p>
        </div>
        <div class="grid gap-8 sm:w-2/3 sm:grid-cols-2">
            <div>
                <h2 class="mb-4 font-bold">Pages</h2>
                <ul>
                    {% for example in pages.listed() %}
                        <li>
                            <a class="text-gray-500" href="{{ example.url }}">{{ example.title }}</a>
                        </li>
                    {% endfor %}

                </ul>
            </div>
            <div>
                <h2 class="mb-4 font-bold">Kirby</h2>
                <ul>
                    <li><a class="text-gray-500" href="https://getkirby.com">Website</a></li>
                    <li><a class="text-gray-500" href="https://getkirby.com/docs">Docs</a></li>
                    <li><a class="text-gray-500" href="https://forum.getkirby.com">Forum</a></li>
                    <li><a class="text-gray-500" href="https://chat.getkirby.com">Chat</a></li>
                    <li><a class="text-gray-500" href="https://github.com/getkirby">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>