@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* prism colors */
  :root {
    --color-code-light-grey:  #cacbd1;
    --color-code-comment:     #a9aaad;
    --color-code-white:       #c5c9c6;
    --color-code-red:         #d16464;
    --color-code-orange:      #de935f;
    --color-code-yellow:      #f0c674;
    --color-code-green:       #a7bd68;
    --color-code-aqua:        #8abeb7;
    --color-code-blue:        #7e9abf;
    --color-code-purple:      #b294bb;
  }
}

@layer utilities {
  .bg-layout-light {
    @apply p-8 bg-blue-200;
  }
  .bg-layout-dark {
    @apply p-8 bg-blue-700 text-white;
  }
}
