{# The topics index page #}

{# @param page Page #}
{# @param topics [Page] #}

{% extends "_layouts/main.twig" %}


{% block content %}

    {{ parent() }}

    <div class="prose prose-lg">
        {# TODO: How to display a hierarchy in Kirby??? #}
        <ul>
            {% for topic in topics %}
                <li>
                    {{ topic.link }}
                    {% if topic.hasChildren %}
                        <ul>
                            {% for child in topic.children %}
                                <li>{{ child.link }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
