{#
Using a keyword for translation, so that we don't have long sentences
that might change a lot in our templates.
Requires translation file for all languages though.
#}

<div class="font-bold">
    {{ 'msg_aiwarning'|t }}
</div>