{# Show post date and author in cards #}

{# @param page page #}

<div class="mt-4 text-sm font-semibold text-gray-600">
    {# TODO: Date formate #}
    {{ page.date|date('short') }},
    {{ page.author.nameOrEmail }}
</div>